.consultas__lista {
    display: grid;
    grid-template-columns: 1fr;
}

.consultas__dia {
    color: var(--preto-fonte);
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.consultas__container {
    max-width: 400px;
    min-width: 328px;
    width: 90%;
    background-color: var(--bg-secundario);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px;
}

.data__card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card__foto {
    border-radius: 32px;
    width: 100%;
    max-width: 57px;
    height: auto;
    }

.card__header {
        margin-right: auto;
        margin-left: 1rem;
    }

.card__nome {
    color: var(--preto-fonte);
    font-weight: 700;
    font-size: 0.875rem;
    margin: 0;
    line-height: 22px;
}

.card__texto {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--cinza-fonte);
    font-weight: 400;
    font-size: 0.75rem;
}

hr {
    border: none;
    border-top: 1px solid var(--cinza-claro);
    margin: 0 -1rem;
}

.data__card__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card__horario {
    font-weight: 500;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.card__botoes {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card__botoes a{
    text-decoration: none;
}

.botao__video {
    color: var(--bg-secundario);
    background-color: var(--laranja-botao);
    padding: 1rem 1.6rem;
    border-radius: 8px;
}

.botao__video--audio {
    color: var(--preto-fonte);
    background-color: var(--bg-secundario);
    border: 1px solid var(--cinza-claro);
}

.botao__video--endereco {
    background-color: var(--azul-botao);
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .consultas__lista {
        grid-template-columns: repeat(2, 1fr);
    }

    .consultas__dia {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .consultas__lista {
        grid-template-columns: repeat(3, 1fr);
    }
}