header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-principal);
    filter: drop-shadow(0 1px 3px #46464625);
}

.header__barra-superior {
    background-color: var(--bg-secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    width: 100%;
    padding: 0.4rem 1rem;
    box-sizing: border-box;
}

.barra__horario {
    font-weight: 400;
    font-size: 1rem;
}

.barra__icones {
    display: flex;
    gap: 1rem;
}

.header__perfil {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 223px;
    height: 57px;
    margin: 2rem auto 1.4rem 1rem;
}

.header__perfil img {
    border-radius: 50%;
    width: 57px;
    height: 57px;
}

.perfil__informacoes {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.informacoes__titulo {
    color: var(--preto-fonte);
    font-weight: 700;
    font-size: 1.38rem;
    margin: 0;
}

.informacoes__texto {
    color: var(--cinza-fonte);
    font-weight: 400;
    font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
    .header__barra-superior {
        display: none;
    }
}